<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disc Golf Coaching</title>
</head>
<body>

    <!-- Headers -->
    <h1>Disc Golf Coaching</h1>
    <br />
    <h3>From semi-pro frolfer: Blake McAvoy</h3>
    <br />

    <!-- Images -->
    <img src="~/img_2621.jpg" height="300"/>
    <img src="~/golfer.jpeg" height="300"/>

    <br /><br />

    <!-- Informational paragraphs -->
    <p>
        Disc golf is a rapidly growing and dynamic competitive sport that combines elements of traditional golf with the 
        precision and strategy of throwing specialized flying discs. Played on a course typically comprising 9 or 18 holes, 
        players aim to complete each hole in as few throws as possible, navigating diverse terrain such as wooded areas, 
        open fields, and varying elevations. The objective is to reach the target—usually a metal basket with hanging 
        chains—in the fewest throws, with players starting from designated tee areas. Disc golf requires a combination of 
        accuracy, distance, and strategic decision-making, as players choose the most effective disc for each throw and 
        navigate obstacles strategically. Tournaments and leagues worldwide offer players of all skill levels the 
        opportunity to compete, fostering a sense of community and camaraderie among enthusiasts. As with traditional golf, 
        the sport emphasizes sportsmanship, respect for fellow competitors, and adherence to rules, contributing to its 
        appeal as an inclusive and enjoyable competitive pursuit.
    </p>
    <br />
    <p>
        Welcome to Blake's Disc Golf Coaching, where passion meets precision on the course! As a seasoned disc golf 
        professional with a deep love for the sport, I am dedicated to helping players of all levels elevate their game. 
        My coaching services are tailored to meet the unique needs of individuals seeking to refine their disc golf skills, 
        whether you're a beginner looking to grasp the fundamentals or an experienced player aiming to fine-tune your 
        technique. Through personalized one-on-one sessions, I provide comprehensive instruction on throwing techniques, 
        course management, mental focus, and strategic decision-making. My goal is to empower you with the knowledge and 
        skills to navigate the challenges of the course with confidence. Whether you're aiming to compete at a higher 
        level or simply looking to enhance your overall enjoyment of the game, let's embark on a journey of improvement 
        together. Join me, and let's take your disc golf game to new heights!
    </p>
</body>
</html>